@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.facebook {
  background: #90b2fd; }

.whatsapp {
  background: #74dd9c; }

.instagram {
  background: #fc84ac; }

.copyright {
  color: #3b3a3a;
  font-size: 15px; }

.primerNav, .segundoNav {
  color: #949275;
  text-decoration: none;
  font-family: "Teko", Arial, Helvetica;
  font-size: x-large; }

.segundoNav {
  color: #e4a699; }

@media screen and (min-width: 333px) {
  .tituloHeader {
    font-size: 2em;
    text-shadow: 0 06px #FEFEF0;
    font-style: oblique;
    font-family: "Dancing Script";
    color: #e4a699; } }

@media screen and (min-width: 540px) {
  .tituloHeader {
    font-size: 3em;
    text-shadow: 0 06px #FEFEF0;
    font-style: oblique;
    font-family: "Dancing Script";
    color: #e4a699; } }

@media screen and (min-width: 1256px) {
  .tituloHeader {
    font-size: 5em;
    text-shadow: 0 06px #FEFEF0;
    font-style: oblique;
    font-family: "Dancing Script";
    color: #e4a699; } }

@media screen and (min-width: 333px) {
  .iconRedes {
    margin-left: 0px; } }

@media screen and (min-width: 540px) {
  .iconRedes {
    margin-left: 100px; } }

@media screen and (min-width: 1256px) {
  .iconRedes {
    margin-left: 60px; } }

.tituloConEstilo {
  font-family: 'Teko', Arial, Helvetica;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  color: #ece098;
  text-shadow: 0 5px #7a4a41;
  font-size: 3.5em;
  margin-top: 40px; }

.tituloFooter {
  font-family: 'Teko', Arial, Helvetica;
  font-style: oblique;
  color: #ece098;
  text-shadow: 0 5px #3b3a3a;
  font-size: 2.5em;
  margin-left: 20px;
  margin-top: 10px; }

.textoFooter {
  font-family: 'Teko', Arial, Helvetica;
  color: #3b3a3a;
  font-size: 1.2em;
  margin-left: 20px; }

.tituloBanner {
  font-family: 'Teko', Arial, Helvetica;
  font-style: oblique;
  color: #DC453D;
  text-shadow: 0 5px #3b3a3a;
  font-size: 4em;
  margin-left: 20px;
  margin-top: 10px; }

.textoBanner {
  font-family: 'Teko', Arial, Helvetica;
  color: black;
  font-size: 1.4em;
  margin-left: 20px; }

.parrafoConEstilo {
  font-size: 18px;
  text-align: center; }

header {
  grid-area: header;
  top: 0;
  z-index: 2;
  position: sticky; }
  header nav {
    background-color: #fcf4c9;
    justify-content: space-between;
    position: static; }
    header nav .dropdown-menu {
      background: #fcf4c9;
      border: none; }

main .container-Hero {
  background: url(/image/bannerWallpaper.jpg) no-repeat center;
  background-size: cover;
  height: 650px;
  position: relative; }
  main .container-Hero .title-color {
    color: #fcf4c9;
    margin-top: 80px;
    font-family: "Teko", Arial, Helvetica; }
  main .container-Hero .subtitle-color {
    color: #949275;
    font-family: "Teko", Arial, Helvetica; }

main .container-Separador {
  margin-top: 90px;
  text-align: center; }

main .section-1 {
  margin-top: 60px;
  margin-bottom: 100px; }
  main .section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 98%;
    border-radius: 0.2em; }
  main .section-1 .col-md-6:last-child {
    position: relative; }
  main .section-1 .panel {
    background: #ebbcd2;
    border-radius: 3px;
    padding: 13vmin 6vmin 20vmin 9vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1; }

main .carousel-control-prev-icon,
main .carousel-control-next-icon {
  filter: invert(108%); }

main .slide img {
  height: 65vh; }

main .container-Menu {
  background: url(/image/menu/BannerMenu.jpg) no-repeat center;
  background-size: cover;
  height: 650px;
  position: relative;
  opacity: 0.7; }
  main .container-Menu .row {
    justify-content: center;
    margin-top: 50px; }

main .container-Food {
  margin-left: 60px;
  margin-right: 60px; }
  main .container-Food .card {
    background: #fcf4c9;
    margin-top: 30PX; }

main .container-Card {
  color: #DC453D;
  font-family: "Teko", Arial, Helvetica;
  margin-left: 60px;
  margin-right: 60px; }

main .colorLink {
  color: #949275;
  text-decoration: none;
  font-family: "Teko", Arial, Helvetica; }

main .cardsFondo {
  background-color: #fcf4c9; }

main .titulossecundarios {
  text-align: center; }

main .event {
  text-align: center;
  margin-top: 60px; }

main .contenedor-imagenes {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px; }
  main .contenedor-imagenes .imagen {
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px #432e2a; }
    main .contenedor-imagenes .imagen img {
      width: 100%;
      height: 100%;
      object-fit: contain; }

main .linea {
  margin-bottom: 40px; }

main .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #c25265;
  opacity: 0.8;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .5s ease; }
  main .overlay h2 {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }

main .imagen:hover .overlay {
  height: 100%;
  cursor: pointer; }

@media screen and (max-width: 1000px) {
  main .contenedor-imagenes {
    width: 95%; } }

@media screen and (max-width: 700px) {
  main .contenedor-imagenes {
    width: 90%; }
    main .contenedor-imagenes .imagen {
      width: 48%; } }

@media screen and (max-width: 450px) {
  main h1 {
    font-size: 22px; }
  main .contenedor-imagenes {
    width: 98%; }
    main .contenedor-imagenes .imagen {
      width: 80%; } }

main .tituloBanner {
  text-align: center;
  margin-top: 150px; }

main .contenedor-formulario {
  text-align: center;
  background-size: cover;
  height: 300px;
  position: relative; }
  main .contenedor-formulario label {
    color: #DC453D;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
    margin-top: 100px; }
  main .contenedor-formulario input {
    align-items: center;
    margin-left: 150px;
    margin-right: 50px; }
  main .contenedor-formulario .botones {
    margin-left: 550px;
    margin-top: 70px; }

main .mainContact {
  display: grid;
  justify-content: space-between; }

main .imgContact {
  width: 500px;
  height: 500px;
  margin-top: 5vw; }

main #mapa {
  margin-top: 10vw; }

main .contenedorFormulario {
  display: flex;
  flex-direction: column;
  justify-content: center; }

main .formulario {
  margin-top: 5vw; }

main .bordesForm {
  height: 700px;
  width: 600px;
  border-radius: 3%;
  border-color: #ffa18e; }

main .formTitulo {
  color: #432e2a;
  text-shadow: 0 2px #ffa18e;
  font-family: 'Dancing Script';
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  font-size: 2.5em;
  margin-right: 450px; }

main .titulos {
  font-family: 'Teko', Arial, Helvetica;
  display: block;
  width: 22%;
  padding: 5px;
  margin-left: 10px; }

main .px {
  border: 1px solid transparent;
  background: #c25265;
  opacity: 0.7;
  border-radius: 15px;
  padding: 20px;
  margin-left: 10px;
  width: 90%;
  height: 10px;
  text-align: center; }

main .btn {
  text-align: center; }

main .mapaTitulo {
  color: #432e2a;
  text-shadow: 0 2px #ffa18e;
  font-family: 'Dancing Script';
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  font-size: 2.5em; }

main h5 {
  text-align: center;
  font-size: 1.2em;
  font-family: 'Teko', Arial, Helvetica;
  font-style: oblique;
  color: #432e2a;
  padding-bottom: 6px;
  border: 1px;
  border-radius: 20px; }

footer {
  background-color: #FEE3E2;
  margin-top: 100px; }

* {
  margin: 0;
  padding: 0; }

body {
  background: radial-gradient(#cb997e 3px, transparent 4px), radial-gradient(#fee3e2 3px, transparent 4px);
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  overflow-x: hidden; }
