// MIXIN
//--------RESPONSIVE------------
@mixin media-up ($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)){
        @content;
    }
}

.tituloHeader{
    @include media-up(sm){
        display: none;            

    }
    @include media-up(md){
        display: flex;
        font-size: 2em;
        text-shadow: 0 06px #FEFEF0;
        font-style: oblique;
        font-family: $font-titulos;
        color: $color-logo;
        
    }
    @include media-up(lg){
        font-size: 5em;
        text-shadow: 0 06px #FEFEF0;
        font-style: oblique;
        font-family: $font-titulos;
        color: $color-logo;
    }
}

.slide img{
    @include media-up(sm){
               
        height: 35vh;
       
    }
    @include media-up(md){
        
        height: 40vh;       
        
    }
    @include media-up(lg){
        height: 75vh;
    }
}

.img-fluid{
    @include media-up(sm){
        margin-top: 45px;
        margin-bottom: 30px;
    }

}

.tituloConEstilo{
    @include media-up(sm){
        font-size: 2.5em;
    }

}
.panel{
    @include media-up(lg){
        margin-top: 25%;
    }
}
.iconRedes{
    @include media-up(sm){
        margin-left: 0px;
    }
    @include media-up(md){
        margin-left: 100px;
    }
    @include media-up(lg){
        margin-left: 60px;
        
    }
}

//MENU RESPONSIVE
.tituloBanner{
    @include media-up(sm){
        font-size: 2.5;
    }
    @include media-up(lg)
    {
        font-size: 3em  
    }
}

//RESERVATION RESPONSIVE
.container-Reservation{
    @include media-up(sm) {
        justify-content: first baseline;
    }
}

//ABOUT US RESPONSIVE

.img-baking{
    @include media-up(sm){
               
        height: 35vh;
       
    }
    @include media-up(md){
        
        
        width: 100vh;       
        
    }
    @include media-up(lg){
        
        width: 100vh; 
    }
}
.container-text{
    @include media-up(sm){
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 100px;
       
    }
    @include media-up(md){
        margin-bottom: 100px;
             
        
    }
    @include media-up(lg){
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-bottom: 100px;
    }

}


//CONTACT US RESPONSIVE

// SIN PARAMETROS
@mixin titulosMain {
    font-family: 'Teko', Arial, Helvetica;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    color: $color-titulosmain;
    text-shadow: 0 05px#7a4a41;        
    margin-top: 40px; 
}

.tituloConEstilo{
    @include titulosMain();
}

@mixin titulosFooter {
    font-family: 'Teko', Arial, Helvetica;        
    font-style: oblique;
    color: $color-titulosmain;
    text-shadow: 0 05px$color-textoFooter;
    font-size: 2.5em; 
    margin-left: 20px; 
    margin-top: 10px;    
}

.tituloFooter{
    @include titulosFooter()

}

@mixin textoFooter {
    font-family: 'Teko', Arial, Helvetica;
    color: $color-textoFooter;
    font-size: 1.2em;
    margin-left: 20px;
}

.textoFooter{
    @include textoFooter()
}



//-------------MENU----------------
@mixin titulosBanner {
    font-family: 'Teko', Arial, Helvetica;        
    font-style: oblique;
    color:$color-BannerMenu;
    text-shadow: 0 05px$color-textoFooter;     
    margin-left: 90px; 
    margin-top: 10px; 
     
}

.tituloBanner{
    @include titulosBanner();
    
}
@mixin textoBanner {
    font-family: 'Teko', Arial, Helvetica;
    color: $color-BannerTexto;
    font-weight: bold;
    margin-left: 90px;
}

.textoBanner{
    @include textoBanner()
}
//CON PARAMETROS

@mixin parrafos ($size, $alineacion){
    font-size:$size ;
    text-align: $alineacion;
}

.parrafoConEstilo{
    @include parrafos(18px, center)
}


