//PALETA DE COLORES Y FUENTE
$color-titulo:rgb(252, 244, 201);
$color-parrafos:#949275;
$color-textoFooter:#3b3a3a;
$color-logo:#e4a699;
$color-titulosmain:rgb(236, 224, 152); 
$color-BannerMenu:#DC453D;
$color-BannerTexto:black;
$font-titulos:'Dancing Script'; 
$font-subtitulos:'Teko', Arial, Helvetica;
