@import "variables";
@import "fuentes";
@import "maps";
@import "extend";
@import "mixin";
@import "header";
@import "main";
@import "footer";

*{
    margin: 0;
    padding: 0; 
    
}

body{
    background: radial-gradient(rgb(203, 153, 126) 3px, transparent 4px), radial-gradient(rgb(254, 227, 226) 3px, transparent 4px);
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;    
    overflow-x: hidden;
}
